/* *{
    box-sizing: border-box;
} */

h2{
    color: var(--black, #1B1D1F);

    /* submain */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    margin: 0;
}

h1{
    color: var(--black, #1B1D1F);
    margin: 0;
    margin-top: 60px;
/* accent */
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 72px; /* 112.5% */
}

h2{
    color: var(--black, #1B1D1F);
    /* submain */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

h3{
    color: var(--black, #1B1D1F);

    /* sub_accent */
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
}

.blue_gradient{
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFE 100%);
    padding-left: 89px;
    padding-top: 20px;
}

.main-sec__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-sec__img{
    order: 1;
}

.main-sec__logo{
    width: 100px;
    height: 32px;
    flex-shrink: 0;
}

.main-sec__content{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.content-container{
    position: relative;
    padding-left: 66px;
    width: 579px;
    height: 476px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--white, #FFF); 
    left: -100px;
    top: 124px;
    
}

.content-container>p{
    color: var(--black, #1B1D1F);
    width: 453px;
    margin: 0;
    margin-top: 24px;
    /* main */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.orange_btn{
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--orange, #FF6B0A);
    margin-top: 32px;
    border: none;
    color: white;
    cursor: pointer;
}

.sub_text{
    width: 453px;
    color: var(--black, #1B1D1F);
    /* main */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.facts-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    margin-bottom: 100px;
}

.facts-sec__title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts-sec__description{
    width: 772px;
    color: var(--black, #1B1D1F);
    text-align: center;
    font-family:  "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.facts-sec__facts{
    display: grid;
    grid-template-rows: 375px 24px 96px; 
    grid-template-columns: repeat(3, 1fr);
}

.facts-sec__facts>img{
    margin: auto;
}

.facts-sec__facts-title{
    text-align: center;
    margin: 0;
    color: #1B1D1F;
    /* haeder */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
}

.facts-sec__facts-description{
    color: #1B1D1F;
    width: 374px;
    margin-top: 24px;
    text-align: center;
    /* main */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.form-sec{
    padding: 0;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    border-radius: 40px;
    background: var(--white, #FFF);
    padding-top: 32px;
    margin-bottom: 80px;
}

.form>svg{
    margin-bottom: 32px;
}

.form-title{
    color: var(--black, #1B1D1F);
    margin: 0;
    margin-bottom: 12px;
    /* haeder */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
}

.form-description{
    color: var(--black, #1B1D1F);
    margin: 0;
    /* main */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.form-field{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.form-field-label{
    color: var(--black, #1B1D1F);

    /* main */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.form-input{
    border: 1px solid var(--Blue, #005BBB);
    width: 450px;
    height: 60px;
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1B1D1F;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    background: var(--white, #FFF);
}

.form-btn{
    margin-top: 32px;
    margin-bottom: 80px;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}